.vscode
.clang-format

# Ignore object files
*.o
*.out

# Ignore binaries
# 202106b
app
# 202206
coda
ext
# 202207
fifoget
fifoskp
fifoply
fiforev

PostOffice
# 202306
cmd.txt

# 202207

# Ignore backup files
*~

# Ignore specific files.folders
.DS_Store
10-09-18 (6).pdf
esempio esame12-02-24 modificato.pdf
chefs
0*